@model WebBanSach.Models.Cart
@{
    ViewBag.Title = "Checkout";
}

<h2>THÔNG TIN HÀNG HOÁ TRONG GIỎ HÀNG</h2>
@if (Model.Carts.Count > 0)
{
    <table class="table table-bordered table-striped">
        <tr>
            <th class="text-center">Hình ảnh sản phẩm</th>
            <th style="width:30%">Tên sản phẩm</th>
            <th style="width:10%">Số lượng</th>
            <th>Đơn giá</th>
            <th>Thành tiền</th>
        </tr>
        @foreach (var item in Model.Carts)
        {
            using (Html.BeginForm("Checkout", "ShoppingCart"))
            {
            <tr>
                <td class="text-center">
                    <img src="~/Bia_sach/@item.HinhAnh" alt="Alternate Text" style="height:50px" />
                </td>
                <td>@item.TenSP</td>
                <td>
                    @Html.Hidden("MaSP", item.MaSP)
                    @item.SoLuong
                </td>
                <td>
                    @Html.FormatValue(item.DonGia, "{0:#,##0} đồng")
                </td>
                <td>
                    @Html.FormatValue(item.DonGia * item.SoLuong, "{0:#,##0} đồng")
                </td>
            </tr>
            }
        }
    </table>
}
<h2 style="text-align:center">THÔNG TIN ĐẶT HÀNG</h2>
<div class="form-horizontal">
    <div class="form-group">
        <label class="col-md-4">Họ tên khách hàng:</label>
    </div>
    <div class="form-group">
        <label class="col-md-4">Địa chỉ:</label>
    </div>
    <div class="form-group">
        <label class="col-md-4">Điện thoại:</label>
    </div>
    <div class="form-group">
        <label class="col-md-4">Ngày đặt hàng:</label>
    </div>
    <div class="form-group">
        <label class="col-md-4">Ngày giao hàng:</label>
    </div>
</div>
